footer .login-cta, .audio-img-container, .audio-card-content, .audio-badges, .audio, .trio div, .plan-card-container .flex-container, .desktop-nav-right,
.desktop-nav-left, .burger-menu-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn, button, footer .login-cta .btn, .join-section .btn, .articles-section .btn, .family-section-text button, .hero-wrapper button {
  font-family: "Headspace", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: -0.1rem;
  letter-spacing: 0rem;
  background-color: #0061ef;
  color: #ffffff;
  font-weight: bold;
  padding: 0.8rem 1.7rem;
  border-radius: 4rem;
  border: none;
  margin: 1rem 0rem;
}
.btn:hover, button:hover, footer .login-cta .btn:hover {
  cursor: pointer;
  background-color: #0045eb;
}
.btn:focus-within, button:focus-within, footer .login-cta .btn:focus-within {
  background-color: #0045eb;
  border: 1px solid #ffffff;
  outline: 2px solid #0045eb;
}

footer .login-cta .btn, .join-section .btn, .articles-section .btn, .family-section-text button, .hero-wrapper button {
  padding: 1.8rem;
  border-radius: 4rem;
  border: none;
  margin: 0;
  box-shadow: 0 0.2rem 0 rgba(65, 61, 69, 0.2);
}

body {
  color: #3d3c3c;
  font-family: "Headspace", sans-serif;
}

.hidden-h1 {
  display: none;
}

h1 {
  font-family: "Headspace", sans-serif;
  font-weight: bold;
  font-size: 6rem;
  letter-spacing: -0.1rem;
}

h2 {
  font-family: "Headspace", sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  letter-spacing: -0.1rem;
}

h3 {
  font-family: "Headspace", sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  letter-spacing: -0.1rem;
  line-height: 4rem;
  letter-spacing: -0.1rem;
}

h4 {
  font-family: "Headspace", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
}

header p,
header li {
  font-family: "Headspace", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

p,
li {
  font-family: "Headspace", sans-serif;
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
  line-height: 2.6rem;
  letter-spacing: -0.01em;
  color: #3d3c3c;
}

.small-print {
  font-family: "Headspace", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
  color: #44423f;
}

ul ul li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul ul li a svg {
  width: 40px;
}

.burger-menu-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 0.1rem 1rem rgba(65, 61, 69, 0.0784313725);
  margin: 0 0;
  padding: 0.8rem 2rem;
  z-index: 9999;
}

.burger-menu-contents {
  display: none;
}

.nav-logo {
  width: 12.5rem;
}

.desktop-nav-links {
  display: none;
}

.desktop-nav-right,
.desktop-nav-left {
  font-family: "Headspace", sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
}

.header-promo {
  background-color: #31abff;
  text-align: center;
  padding: 1.5rem 0rem;
}
.header-promo p {
  margin: 0;
}
.header-promo a > p {
  color: #ffffff;
}

.hero-wrapper {
  background-color: #fbf6f3;
  text-align: center;
  margin: 0 0;
  padding: 4rem 2rem;
}
.hero-wrapper h2 {
  font-family: "Headspace", sans-serif;
  font-weight: bold;
  font-size: 3.6rem;
  letter-spacing: -0.1rem;
  margin-bottom: 2.6rem;
  letter-spacing: -0.1rem;
  line-height: 4.1rem;
}
.hero-wrapper h3 {
  font-family: "Headspace", sans-serif;
  font-size: 2.2rem;
  font-weight: normal;
  padding-bottom: 2.2rem;
  letter-spacing: -0.05rem;
}
.hero-wrapper button {
  text-align: center;
  width: 33rem;
  margin: 3rem auto;
}
.hero-wrapper .desk-hero-img {
  display: none;
}

.wave {
  fill: #fbf6f3;
  width: 100%;
  position: absolute;
}

.plan-card-container {
  width: 90%;
  background-color: #ffffff;
  border-radius: 1.3rem;
  position: relative;
  margin: 1.2rem auto;
  padding: 2rem 5rem 2rem 3rem;
}
.plan-card-container .top-badge {
  position: absolute;
  background-color: #0061ef;
  color: #ffffff;
  transform: translate(0rem, -3.3rem);
  padding: 0rem 1.2rem;
  border-radius: 0.4rem;
  font-family: "Headspace", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}
.plan-card-container .flex-container {
  justify-content: space-between;
}
.plan-card-container .flex-container .plan-card-text {
  text-align: left;
}
.plan-card-container .flex-container .plan-card-text :nth-child(1) {
  font-family: "Headspace", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}
.plan-card-container .flex-container .plan-card-text :nth-child(2) {
  font-family: "Headspace", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  letter-spacing: -0.1rem;
}

.plan-card-container.selected {
  background-color: #ffce03;
}

.hero-content :nth-child(5) {
  color: #585858;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox,
.checkbox-yellow {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid rgb(211, 211, 211);
}

.checkbox-yellow {
  background-color: white;
  border: none;
}

.join-section .checkbox-div {
  display: flex;
}
.join-section .plan-card-container.join-1 {
  background-color: #ff7d1d;
}
.join-section .plan-card-container.join-1 .checkbox {
  background-color: white;
  border: none;
  content: url(images/tick.svg);
}
.join-section .plan-card-container.join-1 .top-badge {
  background-color: white;
  color: #3d3c3c;
}
.join-section .plan-card-container.join-2 {
  background-color: #fbf6f3;
  color: #3d3c3c;
}
.join-section .plan-card-container.join-2 .checkbox {
  border: 2px solid rgb(211, 211, 211);
}

.trio-container {
  padding: 4rem 2rem;
}

.trio {
  margin: 1rem 0rem;
}
.trio img {
  width: 8rem;
}
.trio h3 {
  font-size: 2.4rem;
  letter-spacing: -0.05rem;
  padding-left: 1rem;
}

.trio div {
  padding: 1.5rem 0rem;
}

.family-section {
  padding: 13rem 0rem;
  margin: 0 4rem;
}
.family-section img {
  width: 100%;
}

.family-section-text {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.family-section-text h2 {
  font-size: 2.8rem;
  line-height: 3.6rem;
}
.family-section-text button {
  width: 17rem;
  margin-top: 1.6rem;
  margin-bottom: 7rem;
}

.stories-wrapper {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.stories,
.audio {
  margin: 0 2rem;
  padding: 0 0;
}
.stories h2,
.audio h2 {
  text-align: center;
}

.stories-card {
  background-color: #fbf6f3;
  border-radius: 1.2rem;
  width: 400px;
  margin: 3.4rem 0rem;
  padding: 1.8rem 2.4rem;
  margin-bottom: 0;
  display: none;
}
.stories-card :nth-child(1) {
  fill: #ff7d1d;
  width: 5.6rem;
  padding-top: 1rem;
  padding-bottom: 3.2rem;
}
.stories-card :nth-child(2) {
  font-size: 2.6rem;
  padding-bottom: 12.2rem;
  line-height: 3.4rem;
  letter-spacing: -0.05rem;
}
.stories-card :nth-child(3) {
  font-size: 1.4rem;
  color: #585858;
}
.stories-card :nth-child(4) {
  font-size: 1.2rem;
  color: #585858;
}

.stories-card:nth-child(-n+3) {
  display: initial;
}

.audio {
  margin-top: 14rem;
  flex-direction: column;
}
.audio button {
  padding: 1.3rem 2.6rem;
  margin-top: 0.8rem;
}

.audio-player-container {
  width: 100%;
  background-image: url(images/tabs_background_1.svg);
  background-size: cover;
  background-position: center;
  border-radius: 1.3rem;
  position: relative;
  margin: 2rem auto;
  padding: 2rem 2rem;
}

.audio-badges {
  position: absolute;
  left: 50%;
  gap: 0.8rem;
  transform: translate(-50%, -3.6rem);
  z-index: 1;
}

.audio-badge {
  background-color: #ffa502;
  color: #3d3c3c;
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
  font-family: "Headspace", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  white-space: nowrap;
}

.audio-badges :nth-child(1) {
  background-color: #ff7d1d;
}

.audio-card-content {
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 3rem 0rem;
  padding-top: 1rem;
  padding-bottom: 25rem;
}

audio::-webkit-media-controls-panel {
  background-color: #fbf6f3;
}

audio::-webkit-media-controls-play-button {
  opacity: 100%;
  background-color: #ff7d1d;
  border-radius: 50%;
}

.audio-img-container {
  gap: 70px;
  width: 100%;
  justify-content: flex-end;
  margin: -60px 210px 0px 0px;
}
.audio-img-container .audio-img {
  height: 200px;
  transform: rotate(45deg);
  border-radius: 15px;
  box-shadow: 0px 0px 10px 3px rgba(65, 61, 69, 0.0666666667);
}

.articles-section {
  margin: 2rem 2rem;
  padding: 0rem 0rem;
}
.articles-section h2 {
  text-align: right;
}
.articles-section .btn {
  margin: 0 auto;
  text-align: center;
}

.large-articles-container,
.small-articles-container {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 6rem 0rem;
}

.article-card {
  position: relative;
  margin: 0.6rem 0rem;
  min-height: 40rem;
}
.article-card .article-card-content {
  width: 100%;
  height: 40rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 1.2rem;
  box-shadow: 0px 6px 0px 0px #ff7d1d;
  transition: all 0.1s ease-in-out;
}
.article-card .article-card-content:hover {
  box-shadow: -6px 6px 0px 0px #ff7d1d;
  transition: all 0.1s ease-in-out;
}
.article-card .article-card-content .article-card-top-badge {
  background-color: #ff7d1d;
  width: 10rem;
  text-align: center;
  padding: 0rem 1.2rem;
  border-radius: 0.4rem;
  font-family: "Headspace", sans-serif;
  font-size: 1.2rem;
  font-weight: normal;
}
.article-card .article-card-content .article-card-bottom-content {
  background-color: white;
  padding: 2rem;
  width: 100%;
  border-radius: 1.2rem;
}
.article-card .article-card-content .article-card-bottom-content h3 {
  font-weight: normal;
  font-size: 1.8rem;
  letter-spacing: -0.05rem;
}
.article-card .article-card-content .article-card-bottom-content svg {
  display: none;
}

.article-img {
  width: 100%;
  height: 40rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  border-radius: 1.2rem;
}

.small-articles-container > a:nth-child(even) > .article-small {
  border-bottom: 2px solid #ffce03;
}

.article-small {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #0061ef;
  padding: 2rem 0rem;
  overflow: hidden;
}
.article-small .article-small-img {
  order: 1;
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.2rem;
  box-shadow: 0px 6px 0px 0px #0045eb;
}
.article-small .article-small-bottom-content {
  order: 0;
}
.article-small h3 {
  font-size: 2.4rem;
  padding-right: 2rem;
}
.article-small p {
  display: none;
}
.article-small svg {
  width: 2.4rem;
}

.list-section {
  margin: 0rem 2rem;
  padding: 0rem 0rem;
}
.list-section h2 {
  margin-top: 8rem;
  line-height: 4rem;
}

.list {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.list li {
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3rem;
  color: rgb(124, 124, 124);
}
.list li:nth-last-child(1) {
  text-decoration: none;
  font-weight: normal;
  font-size: 2rem;
}
.list h3 {
  font-size: 2.8rem;
  padding-bottom: 2.8rem;
  line-height: 4rem;
  letter-spacing: -0.1rem;
}

.list-img {
  border-radius: 1.3rem;
  display: none;
  width: 50%;
}

.img-divider-container {
  overflow: hidden;
  width: 100%;
}

.list-end-img {
  transform: scale(1.5) translateY(-15%);
  -o-object-fit: cover;
     object-fit: cover;
}

.join-section {
  background-color: #444240;
  color: #ffffff;
  text-align: center;
  margin: 0rem 0rem;
  padding: 4rem 2rem;
  padding-bottom: 18rem;
}
.join-section h2 {
  line-height: 4.2rem;
  margin-bottom: 3.6rem;
}
.join-section h3 {
  margin-bottom: 3rem;
}
.join-section .join-card h3 {
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
}
.join-section li {
  color: #ffffff;
  text-align: left;
  padding: 1rem 0rem;
  display: flex;
}
.join-section ul li:before {
  content: url("images/tick.svg");
  padding: 0rem 1rem;
}
.join-section .small-print {
  color: rgb(176, 176, 176);
  margin-bottom: 4rem;
}
.join-section span {
  display: block;
}
.join-section .btn {
  background-color: white;
  color: #3d3c3c;
  padding: 1.8rem 6rem;
}
.join-section .join-promo {
  margin: 2rem 0rem;
}

.join-contents-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.join-contents-wrapper .join-card {
  display: flex;
  min-height: 27rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.2rem;
  margin: 0.8rem 0rem;
  background-color: #2d2c2b;
  border-radius: 1rem;
}
.join-contents-wrapper .join-card img {
  padding-bottom: 1.8rem;
}
.join-contents-wrapper .join-card .small-print {
  color: #b0b0b0;
  font-weight: bold;
  letter-spacing: normal;
}

footer {
  margin: 0rem 0rem;
  padding: 0rem 2rem;
  background-color: #fbf6f3;
}
footer .login-cta {
  padding-top: 3rem;
  flex-direction: column;
  gap: 2rem;
}
footer .login-cta .btn {
  padding: 1.2rem 8rem;
}
footer .wrap-collabsible input[type=checkbox] {
  display: none;
}
footer .wrap-collabsible .lbl-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.4rem;
  font-size: 1.4rem;
  color: #3d3c3c;
  padding: 1.6rem 0rem;
  border-bottom: 1px solid #8a8a8a;
}
footer .wrap-collabsible .lbl-toggle::after {
  content: url("images/plus.svg");
}
footer .wrap-collabsible .lbl-toggle:hover {
  cursor: pointer;
}
footer .wrap-collabsible .content-inner {
  margin: 1rem 0rem;
}
footer .wrap-collabsible .content-inner li {
  color: #585858;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
footer .wrap-collabsible .collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
}
footer .wrap-collabsible .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}
footer .wrap-collabsible .toggle:checked + .lbl-toggle::after {
  content: url("images/minus.svg");
}
footer .get-app {
  margin: 2rem 0rem;
}
footer .get-app .get-app-imgs {
  padding: 2rem 0rem;
  display: flex;
  gap: 10px;
}
footer .get-app .get-app-imgs img {
  max-width: 160px;
}
footer .language-selector-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  margin: 0rem 0rem;
  padding: 2rem 2rem;
  background-color: #444240;
  text-align: center;
}
.footer-bottom .social-icons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 1rem;
}
.footer-bottom .social-icons img {
  background-color: white;
  padding: 0.6rem;
  border-radius: 50%;
}
.footer-bottom .small-print {
  color: #b2b2b2;
}

@media screen and (min-width: 770px) {
  h2 {
    font-size: 5.2rem;
  }
  .desktop-nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .burger-menu-wrapper {
    padding: 2rem 3.2rem;
  }
  .hero-wrapper {
    display: flex;
    align-items: center;
    flex: 1 1 0;
    justify-content: space-around;
  }
  .hero-wrapper h2 {
    font-size: 5.2rem;
  }
  .hero-wrapper .desk-hero-img {
    display: initial;
    height: 100vh;
  }
  .hero-wrapper .mob-hero-img {
    display: none;
  }
  .hero-wrapper .hero-content {
    min-width: 400px;
  }
  .hero-wrapper .hero-content button {
    width: 16rem;
  }
  .trio-container {
    display: flex;
  }
  .trio > div {
    display: flex;
  }
  .stories-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 3rem;
    overflow: hidden;
  }
  .stories-wrapper .stories-card {
    min-width: 400px;
  }
  .stories-card {
    display: initial;
  }
}/*# sourceMappingURL=styles.css.map */